body {
	background: #CCCCCC 
}
#banner {
	width: 100%;
}

h1{
	text-align: center;
	color: #000000;
	border: 5px solid #000000;
	padding: 20px;
}

p {
	text-align: center;
}
#missao {
	front-size: 20px;
	color: chartreuse;
}
em strong {
	color: #ffffff;
}
